<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Angebot für {{ project.title }}</title>
</head>
<body>
    <p>Sehr geehrte/r {{ contact_person }},</p>

    <p>vielen Dank für Ihr Interesse an meinen Dienstleistungen als {{ freelancer.name }}.</p>

    <p>Basierend auf Ihrer Projektbeschreibung "<strong>{{ project.title }}</strong>" biete ich Ihnen folgendes an:</p>

    <ul>
        <li><strong>Beschreibung:</strong> {{ project.description }}</li>
        <li><strong>Stundensatz:</strong> {{ freelancer.desired_rate }} €/Stunde</li>
        <li><strong>Startdatum:</strong> {{ project.start_date }}</li>
        <li><strong>Weitere Bedingungen:</strong> {{ project.other_conditions }}</li>
    </ul>

    <p>Ich freue mich auf eine erfolgreiche Zusammenarbeit.</p>

    <p>Mit freundlichen Grüßen,<br>{{ freelancer.name }}</p>
    <p>{{ current_date }}</p>


	<p>Hinweis zur Datenverarbeitung gemäß DSGVO</p>
	<p>Wir verarbeiten die in dieser E-Mail und in den Angebots- bzw. Projektdaten enthaltenen Informationen ausschließlich zum Zweck der Angebotsanbahnung, -erstellung und gegebenenfalls nachfolgenden Auftragsabwicklung. Dies erfolgt auf Grundlage unserer berechtigten Interessen (Art. 6 Abs. 1 lit. f DSGVO) an der Durchführung vorvertraglicher Maßnahmen sowie – im Falle eines Vertragsschlusses – auf Grundlage der Vertragserfüllung (Art. 6 Abs. 1 lit. b DSGVO).</p>
	<p>Dabei erheben und speichern wir keine darüber hinausgehenden personenbezogenen Daten; insbesondere werden keine Tracking-Technologien (z. B. zur Ermittlung von Öffnungsraten) eingesetzt. Wir bewahren Ihre Angebots- und Projektdaten nur so lange auf, wie es für die Erfüllung der oben genannten Zwecke oder gesetzliche Aufbewahrungsfristen erforderlich ist.</p>
	<p>Sie haben jederzeit das Recht, der Verarbeitung Ihrer Daten zu widersprechen oder Auskunft über die zu Ihrer Person gespeicherten Daten zu verlangen. Weitere Informationen finden Sie in unserer Datenschutzerklärung [(Link einfügen)].</p>

</body>
</html>
