<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Angebot für {{ project.title }}</title>
</head>
<body>
    <p>Sehr geehrte/r {{ contact_person }},</p>

    <p>gerne biete ich Ihnen freibleibend die Zusammenarbeit in Ihrem ausgeschriebenen Projekt "<strong>{{ project.title }}</strong>" an.</p>

    <p>Meine Konditionen:</p>

    <ul>
        <li><strong>Startdatum:</strong> {{ project.start_date }}</li>
        <li><strong>Stundensatz remote zzgl. MwSt:</strong> {{ rates.get("hourly_rate_remote", 70.00) }} €/Stunde</li>
        <li><strong>Stundensatz onsite zzgl. MWSt:</strong> {{ rates.get("hourly_rate_onsite", 80.00) }} €/Stunde</li>
        <li><strong>Tagessatzpauschale onsite deutschlandweit zzgl. MWSt:</strong> {{ rates.get("daily_rate_onsite_pauschal", 1250.00) }} €/Tag</li>
    </ul>

    <p>Ich freue mich auf eine erfolgreiche Zusammenarbeit.</p>

    <p>Mit freundlichen Grüßen<br>{{ freelancer.name }}</p>
    <p>{{ current_date }}</p>





	<p>Hinweis zur Datenverarbeitung gemäß DSGVO</p>
	<p>Wir verarbeiten die in dieser E-Mail und in den Angebots- bzw. Projektdaten enthaltenen Informationen ausschließlich zum Zweck der Angebotsanbahnung, -erstellung und gegebenenfalls nachfolgenden Auftragsabwicklung. Dies erfolgt auf Grundlage unserer berechtigten Interessen (Art. 6 Abs. 1 lit. f DSGVO) an der Durchführung vorvertraglicher Maßnahmen sowie – im Falle eines Vertragsschlusses – auf Grundlage der Vertragserfüllung (Art. 6 Abs. 1 lit. b DSGVO).</p>
	<p>Dabei erheben und speichern wir keine darüber hinausgehenden personenbezogenen Daten; insbesondere werden keine Tracking-Technologien (z. B. zur Ermittlung von Öffnungsraten) eingesetzt. Wir bewahren Ihre Angebots- und Projektdaten nur so lange auf, wie es für die Erfüllung der oben genannten Zwecke oder gesetzliche Aufbewahrungsfristen erforderlich ist.</p>
	<p>Sie haben jederzeit das Recht, der Verarbeitung Ihrer Daten zu widersprechen oder Auskunft über die zu Ihrer Person gespeicherten Daten zu verlangen. Weitere Informationen finden Sie in unserer Datenschutzerklärung [(Link einfügen)].</p>

</body>
</html>
